/* Story.css */

.story-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #1c3be8;
    box-shadow: 0 0 10px rgba(24, 22, 22, 0.786);
    font-family: Arial, sans-serif;
  }
  
  .title-section {
    background-color: #2749af;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .title-section p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .content-section {
    padding: 20px;
  }
  
  .content-section p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .content-section h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #1c3be8;
  }
  
  .content-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .content-section li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
  }
  
  .content-section li:before {
    content: "\2022";
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 18px;
    color: #666;
  }

  .story-container * {
    transition: all 0.3s ease-in-out;
  }
  
  .story-container *:hover {
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive design */
  
  @media screen and (max-width: 768px) {
    .story-container {
      padding: 15px;
    }
    .title-section p {
      font-size: 20px;
    }
    .content-section p {
      font-size: 16px;
    }
    .content-section h2 {
      font-size: 20px;
    }
    .content-section li:before {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .story-container {
      padding: 10px;
    }
    .title-section p {
      font-size: 18px;
    }
    .content-section p {
      font-size: 14px;
    }
    .content-section h2 {
      font-size: 18px;
    }
    .content-section li:before {
      font-size: 14px;
    }
  }