.title{
    text-align: center;
    color: #212EA0;
    font-size: 15px;
    font-weight: uppercase;
    margin: 70px 0 30px;
}

.title h1{
    font-size: 35px;
    color: #000f38;
    margin-top: 5px;
    text-transform: none;
}